In [20]:
import pandas as pd
from sqlalchemy import create_engine

In [21]:
data = pd.read_csv("Data/data.csv")
genre_data = pd.read_csv("Data/data_w_genres.csv")
year_data = pd.read_csv("Data/data_by_year.csv")

In [22]:
organized_data = data[["id",
                       "name",
                       "artists",
                       "year",
                       "duration_ms",
                       "explicit",
                       "acousticness",
                       "danceability",
                       "energy",
                       "instrumentalness",
                       "liveness",
                       "loudness",
                       "popularity",
                       "speechiness",
                       "tempo"                     
                      ]]

In [23]:
spotify_data = organized_data.rename(columns={"id": "ID", 
                                              "name": "Song", 
                                              "artists": "Artists", 
                                              "year": "Year",
                                              "duration_ms": "Duration (M:S)",
                                              "explicit": "Explicit",
                                              "acousticness": "Acousticness",
                                              "danceability": "Danceability",
                                              "energy": "Energy",
                                              "instrumentalness": "Instrumentalness",
                                              "liveness": "Liveness",
                                              "loudness": "Loudness", 
                                              "popularity": "Popularity", 
                                              "speechiness": "Speechiness", 
                                              "tempo": "Tempo"})

In [24]:
millis = spotify_data["Duration (M:S)"]
import datetime

MS_list=[]
for m in millis:
   
   
    date = datetime.datetime.fromtimestamp(m/1000.0)
    date = date.strftime('%M:%S')
    MS_list.append(date)
    
MS_list   

spotify_data["Duration (M:S)"]=MS_list

In [25]:
artists = spotify_data['Artists']
artists_l = []
for a in artists:
    test1 = a.strip('[]\'\'').replace("'",'')
    artists_l.append(test1)
spotify_data['Artists'] = artists_l

In [26]:
spotify_data.to_csv("Data/SpotifyData.csv", index=False, header=True)

In [27]:
engine = create_engine('sqlite:///Spotify.db', echo=True)
sqlite_connection = engine.connect()

2020-09-01 21:32:18,219 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2020-09-01 21:32:18,221 INFO sqlalchemy.engine.base.Engine ()
2020-09-01 21:32:18,223 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2020-09-01 21:32:18,224 INFO sqlalchemy.engine.base.Engine ()

In [29]:
spotify_table = "Spotify_Data"
organized_data.to_sql(spotify_table, sqlite_connection, if_exists='fail')

2020-09-01 21:36:22,244 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("Spotify_Data")
2020-09-01 21:36:22,246 INFO sqlalchemy.engine.base.Engine ()

ValueError: Table 'Spotify_Data' already exists.