In [1]:
import pandas as pd
import datetime
from sqlalchemy import create_engine

In [2]:
data = pd.read_csv("Data/data.csv")
genre_data = pd.read_csv("Data/data_w_genres.csv")
year_data = pd.read_csv("Data/data_by_year.csv")
artist_data = pd.read_csv("Data/data_by_artist.csv")

In [3]:
organized_data = data[["id",
                       "name",
                       "artists",
                       "year",
                       "duration_ms",
                       "explicit",
                       "acousticness",
                       "danceability",
                       "energy",
                       "instrumentalness",
                       "liveness",
                       "loudness",
                       "popularity",
                       "speechiness",
                       "tempo"                     
                      ]]

In [4]:
spotify_data = organized_data.rename(columns={"id": "ID", 
                                              "name": "Song", 
                                              "artists": "Artists", 
                                              "year": "Year",
                                              "duration_ms": "Duration (M:S)",
                                              "explicit": "Explicit",
                                              "acousticness": "Acousticness",
                                              "danceability": "Danceability",
                                              "energy": "Energy",
                                              "instrumentalness": "Instrumentalness",
                                              "liveness": "Liveness",
                                              "loudness": "Loudness", 
                                              "popularity": "Popularity", 
                                              "speechiness": "Speechiness", 
                                              "tempo": "Tempo"})

In [5]:
#convert 'Duration' column in milliseconds to "Minutes:Seconds" format 
millis = spotify_data["Duration (M:S)"]


MS_list=[]
for m in millis:
   
   
    date = datetime.datetime.fromtimestamp(m/1000.0)
    date = date.strftime('%M:%S')
    MS_list.append(date)
    
MS_list   

spotify_data["Duration (M:S)"]=MS_list

In [6]:
#clean the 'Artist' column
artists = spotify_data['Artists']
artists_l = []
for a in artists:
    test1 = a.strip('[]\'\'').replace("'",'')
    artists_l.append(test1)
spotify_data['Artists'] = artists_l

In [7]:
#round the columns to the nearest 2 digit decimal point
spotify_final=spotify_data.round({'Acousticness':2,'Danceability':2,'Energy':2,'Instrumentalness':2,'Liveness':2,'Loudness':2,'Speechiness': 2, 'Tempo': 2})
spotify_final

,ID,Song,Artists,Year,Duration (M:S),Explicit,Acousticness,Danceability,Energy,Instrumentalness,Liveness,Loudness,Popularity,Speechiness,Tempo
0,6KbQ3uYMLKb5jDxLF7wYDD,Singende Bataillone 1. Teil,Carl Woitschach,1928,02:38,0,1.00,0.71,0.20,0.56,0.15,-12.43,0,0.05,118.47
1,6KuQTIu1KoTTkLXKrwlLPV,"Fantasiestücke, Op. 111: Più tosto lento","Robert Schumann, Vladimir Horowitz",1928,04:42,0,0.99,0.38,0.01,0.90,0.08,-28.45,0,0.05,83.97
2,6L63VW0PibdM1HDSBoqnoM,Chapter 1.18 - Zamek kaniowski,Seweryn Goszczyński,1928,01:44,0,0.60,0.75,0.22,0.00,0.12,-19.92,0,0.93,107.18
3,6M94FkXd15sOAOQYRnWPN8,Bebamos Juntos - Instrumental (Remasterizado),Francisco Canaro,1928,03:00,0,1.00,0.78,0.13,0.89,0.11,-14.73,0,0.09,108.00
4,6N6tiFZ9vLTSOIxkj8qKrd,"Polonaise-Fantaisie in A-Flat Major, Op. 61","Frédéric Chopin, Vladimir Horowitz",1928,11:27,0,0.99,0.21,0.20,0.91,0.10,-16.83,1,0.04,62.15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169904,4KppkflX7I3vJQk7urOJaS,Skechers (feat. Tyga) - Remix,"DripReport, Tyga",2020,02:43,1,0.17,0.88,0.44,0.00,0.09,-7.46,75,0.14,100.01
169905,1ehhGlTvjtHo2e4xJFB0SZ,Sweeter (feat. Terrace Martin),"Leon Bridges, Terrace Martin",2020,02:47,0,0.02,0.72,0.38,0.03,0.11,-10.91,64,0.04,128.00
169906,52eycxprLhK3lPcRLbQiVk,How Would I Know,"Kygo, Oh Wonder",2020,03:00,0,0.54,0.51,0.54,0.00,0.11,-9.33,70,0.10,123.70
169907,3wYOGJYD31sLRmBgCvWxa4,I Found You,"Cash Cash, Andy Grammer",2020,02:47,0,0.07,0.65,0.76,0.00,0.22,-2.56,70,0.04,129.92
169908,60RFlt48hm0l4Fu0JoccOl,More Hearts Than Mine,Ingrid Andress,2020,03:34,0,0.11,0.51,0.43,0.00,0.10,-7.39,65,0.03,80.59

In [9]:
engine = create_engine('sqlite:///Spotify.db', echo=True)
sqlite_connection = engine.connect()

2020-09-02 21:26:03,518 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2020-09-02 21:26:03,526 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:26:03,534 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2020-09-02 21:26:03,536 INFO sqlalchemy.engine.base.Engine ()

In [10]:
spotify_table = "Spotify_Data"
spotify_final.to_sql(spotify_table, sqlite_connection, if_exists='replace')

2020-09-02 21:26:03,748 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("Spotify_Data")
2020-09-02 21:26:03,749 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:26:03,754 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("Spotify_Data")
2020-09-02 21:26:03,759 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:26:03,762 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2020-09-02 21:26:03,764 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:26:03,767 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("Spotify_Data")
2020-09-02 21:26:03,770 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:26:03,778 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Spotify_Data' AND type = 'table'
2020-09-02 21:26:03,818 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:26:03,821 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("Spotify_Data")
2020-09-02 21:26:03,824 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:26:03,827 INFO sqlalchemy.engine.base.Engine PRAGMA temp.foreign_key_list("Spotify_Data")
2020-09-02 21:26:03,829 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:26:03,831 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Spotify_Data' AND type = 'table'
2020-09-02 21:26:03,833 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:26:03,838 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("Spotify_Data")
2020-09-02 21:26:03,841 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:26:03,844 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_info("ix_Spotify_Data_index")
2020-09-02 21:26:03,846 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:26:03,850 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("Spotify_Data")
2020-09-02 21:26:03,852 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:26:03,855 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_info("ix_Spotify_Data_index")
2020-09-02 21:26:03,858 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:26:03,866 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Spotify_Data' AND type = 'table'
2020-09-02 21:26:03,869 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:26:03,875 INFO sqlalchemy.engine.base.Engine
DROP TABLE "Spotify_Data"
2020-09-02 21:26:03,877 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:26:04,138 INFO sqlalchemy.engine.base.Engine COMMIT
2020-09-02 21:26:04,147 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Spotify_Data" (
	"index" BIGINT,
	"ID" TEXT,
	"Song" TEXT,
	"Artists" TEXT,
	"Year" BIGINT,
	"Duration (M:S)" TEXT,
	"Explicit" BIGINT,
	"Acousticness" FLOAT,
	"Danceability" FLOAT,
	"Energy" FLOAT,
	"Instrumentalness" FLOAT,
	"Liveness" FLOAT,
	"Loudness" FLOAT,
	"Popularity" BIGINT,
	"Speechiness" FLOAT,
	"Tempo" FLOAT
)


2020-09-02 21:26:04,149 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:26:04,168 INFO sqlalchemy.engine.base.Engine COMMIT
2020-09-02 21:26:04,171 INFO sqlalchemy.engine.base.Engine CREATE INDEX "ix_Spotify_Data_index" ON "Spotify_Data" ("index")
2020-09-02 21:26:04,176 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:26:04,186 INFO sqlalchemy.engine.base.Engine COMMIT
2020-09-02 21:26:05,190 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-09-02 21:26:15,129 INFO sqlalchemy.engine.base.Engine INSERT INTO "Spotify_Data" ("index", "ID", "Song", "Artists", "Year", "Duration (M:S)", "Explicit", "Acousticness", "Danceability", "Energy", "Instrumentalness", "Liveness", "Loudness", "Popularity", "Speechiness", "Tempo") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2020-09-02 21:26:15,132 INFO sqlalchemy.engine.base.Engine ((0, '6KbQ3uYMLKb5jDxLF7wYDD', 'Singende Bataillone 1. Teil', 'Carl Woitschach', 1928, '02:38', 0, 1.0, 0.71, 0.2, 0.56, 0.15, -12.43, 0, 0.05, 118.47), (1, '6KuQTIu1KoTTkLXKrwlLPV', 'Fantasiestücke, Op. 111: Più tosto lento', 'Robert Schumann, Vladimir Horowitz', 1928, '04:42', 0, 0.99, 0.38, 0.01, 0.9, 0.08, -28.45, 0, 0.05, 83.97), (2, '6L63VW0PibdM1HDSBoqnoM', 'Chapter 1.18 - Zamek kaniowski', 'Seweryn Goszczyński', 1928, '01:44', 0, 0.6, 0.75, 0.22, 0.0, 0.12, -19.92, 0, 0.93, 107.18), (3, '6M94FkXd15sOAOQYRnWPN8', 'Bebamos Juntos - Instrumental (Remasterizado)', 'Francisco Canaro', 1928, '03:00', 0, 1.0, 0.78, 0.13, 0.89, 0.11, -14.73, 0, 0.09, 108.0), (4, '6N6tiFZ9vLTSOIxkj8qKrd', 'Polonaise-Fantaisie in A-Flat Major, Op. 61', 'Frédéric Chopin, Vladimir Horowitz', 1928, '11:27', 0, 0.99, 0.21, 0.2, 0.91, 0.1, -16.83, 1, 0.04, 62.15), (5, '6NxAf7M8DNHOBTmEd3JSO5', 'Scherzo a capriccio: Presto', 'Felix Mendelssohn, Vladimir Horowitz', 1928, '05:52', 0, 1.0, 0.42, 0.12, 0.91, 0.09, -19.24, 0, 0.06, 63.52), (6, '6O0puPuyrxPjDTHDUgsWI7', 'Valse oubliée No. 1 in F-Sharp Major, S. 215/1', 'Franz Liszt, Vladimir Horowitz', 1928, '02:16', 0, 0.96, 0.44, 0.2, 0.44, 0.07, -17.23, 0, 0.04, 80.5), (7, '6OJjveoYwJdIt76y0Pxpxw', 'Per aspera ad astra', 'Carl Woitschach', 1928, '02:33', 0, 0.99, 0.56, 0.42, 0.84, 0.1, -9.88, 0, 0.05, 123.31)  ... displaying 10 of 169909 total bound parameter sets ...  (169907, '3wYOGJYD31sLRmBgCvWxa4', 'I Found You', 'Cash Cash, Andy Grammer', 2020, '02:47', 0, 0.07, 0.65, 0.76, 0.0, 0.22, -2.56, 70, 0.04, 129.92), (169908, '60RFlt48hm0l4Fu0JoccOl', 'More Hearts Than Mine', 'Ingrid Andress', 2020, '03:34', 0, 0.11, 0.51, 0.43, 0.0, 0.1, -7.39, 65, 0.03, 80.59))
2020-09-02 21:26:17,878 INFO sqlalchemy.engine.base.Engine COMMIT
2020-09-02 21:26:18,092 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2020-09-02 21:26:18,093 INFO sqlalchemy.engine.base.Engine ()

In [11]:
Danceability=spotify_final[['ID','Song','Artists','Year','Duration (M:S)','Danceability']]
Danceability_order=Danceability.sort_values('Danceability',inplace=False,ascending=False)

In [12]:
spotify_table = "Groovy_Songs"
Danceability_order.to_sql(spotify_table, sqlite_connection, if_exists='replace')

2020-09-02 21:26:18,765 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("Groovy_Songs")
2020-09-02 21:26:18,770 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:26:18,773 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("Groovy_Songs")
2020-09-02 21:26:18,775 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:26:18,788 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2020-09-02 21:26:18,791 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:26:18,800 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("Groovy_Songs")
2020-09-02 21:26:18,802 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:26:18,814 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Groovy_Songs' AND type = 'table'
2020-09-02 21:26:18,817 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:26:18,835 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("Groovy_Songs")
2020-09-02 21:26:18,838 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:26:18,841 INFO sqlalchemy.engine.base.Engine PRAGMA temp.foreign_key_list("Groovy_Songs")
2020-09-02 21:26:18,847 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:26:18,864 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Groovy_Songs' AND type = 'table'
2020-09-02 21:26:18,868 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:26:18,871 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("Groovy_Songs")
2020-09-02 21:26:18,873 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:26:18,879 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_info("ix_Groovy_Songs_index")
2020-09-02 21:26:18,882 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:26:18,885 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("Groovy_Songs")
2020-09-02 21:26:18,887 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:26:18,889 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_info("ix_Groovy_Songs_index")
2020-09-02 21:26:18,893 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:26:18,895 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Groovy_Songs' AND type = 'table'
2020-09-02 21:26:18,909 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:26:18,916 INFO sqlalchemy.engine.base.Engine
DROP TABLE "Groovy_Songs"
2020-09-02 21:26:18,918 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:26:19,168 INFO sqlalchemy.engine.base.Engine COMMIT
2020-09-02 21:26:19,173 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Groovy_Songs" (
	"index" BIGINT,
	"ID" TEXT,
	"Song" TEXT,
	"Artists" TEXT,
	"Year" BIGINT,
	"Duration (M:S)" TEXT,
	"Danceability" FLOAT
)


2020-09-02 21:26:19,175 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:26:19,184 INFO sqlalchemy.engine.base.Engine COMMIT
2020-09-02 21:26:19,186 INFO sqlalchemy.engine.base.Engine CREATE INDEX "ix_Groovy_Songs_index" ON "Groovy_Songs" ("index")
2020-09-02 21:26:19,187 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:26:19,196 INFO sqlalchemy.engine.base.Engine COMMIT
2020-09-02 21:26:19,766 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-09-02 21:26:26,104 INFO sqlalchemy.engine.base.Engine INSERT INTO "Groovy_Songs" ("index", "ID", "Song", "Artists", "Year", "Duration (M:S)", "Danceability") VALUES (?, ?, ?, ?, ?, ?, ?)
2020-09-02 21:26:26,118 INFO sqlalchemy.engine.base.Engine ((134698, '1MgM0WDaoQ2A3bnIQTR6ty', 'Go Girl', 'Pitbull, Trina, Young Bo', 2012, '03:49', 0.99), (61920, '5IbMUI4rcWtXlq83UWqTcQ', 'Go Girl', 'Young Boss, Trina, Pitbull', 2007, '03:49', 0.99), (84909, '5YIF6HSOtHN9HdcE5IPzMe', 'Funky Cold Medina', 'Tone-Loc', 1989, '04:08', 0.99), (37596, '1JhFQ8L6QZxQchBa5qJrxS', 'Barney Theme Song', 'Barney', 1994, '00:56', 0.98), (77683, '5UJ3N25ukIruG4Do8RDHra', 'UP LIKE AN INSOMNIAC - Freestyle', 'XXXTENTACION', 2017, '02:31', 0.98), (74409, '2CwGWqDUOImtIn1vUl4i3r', 'Wake Up', 'Run–D.M.C.', 1984, '05:31', 0.98), (86811, '3XVozq1aeqsJwpXrEZrDJ9', 'Ice Ice Baby', 'Vanilla Ice', 2008, '04:14', 0.98), (12974, '17DML8FAjSvGbEPC4fm6yW', 'Black Is Black', 'Jungle Brothers', 1988, '03:37', 0.98)  ... displaying 10 of 169909 total bound parameter sets ...  (56768, '0DGi8U0xHWiw6Rhrg8iKAS', 'Kapitel 88 - Hamid und Kinza', 'Patricia St. John', 1955, '02:00', 0.0), (111528, '3q3gK9I4mj03565IGtVA0d', 'Moon, Turn the Tides...Gently Gently Away', 'Jimi Hendrix', 1968, '01:01', 0.0))
2020-09-02 21:26:31,159 INFO sqlalchemy.engine.base.Engine COMMIT
2020-09-02 21:26:31,302 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2020-09-02 21:26:31,304 INFO sqlalchemy.engine.base.Engine ()

In [13]:
Spa_music0=spotify_final[['ID','Song','Artists','Year','Duration (M:S)','Instrumentalness']]
Spa_music=Spa_music0.sort_values('Instrumentalness',inplace=False,ascending=False)
Spa_music

,ID,Song,Artists,Year,Duration (M:S),Instrumentalness
15930,4fD4bjo6ZQp8tlF8Kyy6Ad,Rain Sound: Pouring,Rain Sounds XLE Library,2017,02:21,1.0
46972,605JTCltCe1IcqrGXQ294K,Brown Noise for Sleep,Sounds for Life,2009,11:10,1.0
143967,5svhO7n5a0IWF13hqZWaVc,City Rain,Rain Recorders,2017,04:00,1.0
125835,50N6EPhnmazJFkWvzqynhb,Downpoar,Rain Sound Studio,2017,02:32,1.0
23862,2eWqBNH136U8Et0UTxBacB,White Noise - BP 228 hz,Granular,2017,01:44,1.0
...,...,...,...,...,...,...
69857,6wIBZCIbbZh6ACDkWC5TX7,Ah Yeah,"Robert Glasper Experiment, Musiq Soulchild, Ch...",2012,05:08,0.0
69856,6ol1tnuiEhigHqHPwqQxeq,Stoner Girl (feat. Pat Brown),"MOD SUN, Pat Brown",2012,04:09,0.0
69855,4vpNOBwJSl8HA3pLXY6c8U,Druggys Wit Hoes Again (feat. Ab Soul),"ScHoolboy Q, Ab-Soul",2012,03:39,0.0
69854,1zugfOhn6BebboqGcpUlba,We Are Young (Glee Cast Version),Glee Cast,2012,04:09,0.0
169908,60RFlt48hm0l4Fu0JoccOl,More Hearts Than Mine,Ingrid Andress,2020,03:34,0.0

In [14]:
spotify_table = "Spa_music"
Spa_music.to_sql(spotify_table, sqlite_connection, if_exists='replace')

2020-09-02 21:26:31,886 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("Spa_music")
2020-09-02 21:26:31,887 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:26:31,890 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("Spa_music")
2020-09-02 21:26:31,894 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:26:31,897 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2020-09-02 21:26:31,899 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:26:31,902 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("Spa_music")
2020-09-02 21:26:31,925 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:26:31,931 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Spa_music' AND type = 'table'
2020-09-02 21:26:31,932 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:26:31,935 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("Spa_music")
2020-09-02 21:26:31,937 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:26:31,940 INFO sqlalchemy.engine.base.Engine PRAGMA temp.foreign_key_list("Spa_music")
2020-09-02 21:26:31,941 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:26:31,947 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Spa_music' AND type = 'table'
2020-09-02 21:26:31,949 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:26:31,952 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("Spa_music")
2020-09-02 21:26:31,954 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:26:31,957 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_info("ix_Spa_music_index")
2020-09-02 21:26:31,960 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:26:31,963 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("Spa_music")
2020-09-02 21:26:31,966 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:26:31,967 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_info("ix_Spa_music_index")
2020-09-02 21:26:31,969 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:26:31,972 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Spa_music' AND type = 'table'
2020-09-02 21:26:31,974 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:26:31,977 INFO sqlalchemy.engine.base.Engine
DROP TABLE "Spa_music"
2020-09-02 21:26:31,979 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:26:32,237 INFO sqlalchemy.engine.base.Engine COMMIT
2020-09-02 21:26:32,247 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Spa_music" (
	"index" BIGINT,
	"ID" TEXT,
	"Song" TEXT,
	"Artists" TEXT,
	"Year" BIGINT,
	"Duration (M:S)" TEXT,
	"Instrumentalness" FLOAT
)


2020-09-02 21:26:32,290 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:26:32,344 INFO sqlalchemy.engine.base.Engine COMMIT
2020-09-02 21:26:32,347 INFO sqlalchemy.engine.base.Engine CREATE INDEX "ix_Spa_music_index" ON "Spa_music" ("index")
2020-09-02 21:26:32,348 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:26:32,356 INFO sqlalchemy.engine.base.Engine COMMIT
2020-09-02 21:26:32,647 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-09-02 21:26:37,616 INFO sqlalchemy.engine.base.Engine INSERT INTO "Spa_music" ("index", "ID", "Song", "Artists", "Year", "Duration (M:S)", "Instrumentalness") VALUES (?, ?, ?, ?, ?, ?, ?)
2020-09-02 21:26:37,618 INFO sqlalchemy.engine.base.Engine ((15930, '4fD4bjo6ZQp8tlF8Kyy6Ad', 'Rain Sound: Pouring', 'Rain Sounds XLE Library', 2017, '02:21', 1.0), (46972, '605JTCltCe1IcqrGXQ294K', 'Brown Noise for Sleep', 'Sounds for Life', 2009, '11:10', 1.0), (143967, '5svhO7n5a0IWF13hqZWaVc', 'City Rain', 'Rain Recorders', 2017, '04:00', 1.0), (125835, '50N6EPhnmazJFkWvzqynhb', 'Downpoar', 'Rain Sound Studio', 2017, '02:32', 1.0), (23862, '2eWqBNH136U8Et0UTxBacB', 'White Noise - BP 228 hz', 'Granular', 2017, '01:44', 1.0), (13457, '4se6hOGsTWbj3zrXUBIv18', 'Opening Titles', 'John Williams', 1993, '00:33', 1.0), (152515, '0KRBBQiQRyN6KIZT3fEf06', 'Rain Sounds Chill', 'Wp Sounds', 2017, '02:35', 1.0), (7631, '0O3oat5MkjDTOneiwLPGda', 'White Noise: Calming Roar of the Ocean to Fall to Sleep and Stay Asleep', 'Natural White Noise Relaxation', 2015, '04:48', 1.0)  ... displaying 10 of 169909 total bound parameter sets ...  (69854, '1zugfOhn6BebboqGcpUlba', 'We Are Young (Glee Cast Version)', 'Glee Cast', 2012, '04:09', 0.0), (169908, '60RFlt48hm0l4Fu0JoccOl', 'More Hearts Than Mine', 'Ingrid Andress', 2020, '03:34', 0.0))
2020-09-02 21:26:41,388 INFO sqlalchemy.engine.base.Engine COMMIT
2020-09-02 21:26:41,511 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2020-09-02 21:26:41,513 INFO sqlalchemy.engine.base.Engine ()

In [15]:
artist_data = artist_data[["artists",
                           "acousticness",
                          "danceability",
                          "energy",
                          "instrumentalness",
                          "liveness",
                          "loudness", 
                          "speechiness", 
                          "tempo",
                          "valence",
                          "popularity",
                          "key"]]

In [16]:
artist_data = artist_data.rename(columns={"artists": "Artists",
                                              "acousticness": "Acousticness",
                                              "danceability": "Danceability",
                                              "energy": "Energy",
                                              "instrumentalness": "Instrumentalness",
                                              "liveness": "Liveness",
                                              "loudness": "Loudness", 
                                              "speechiness": "Speechiness", 
                                              "tempo": "Tempo",
                                          "valence": "Valence",
                                          "popularity": "Popularity",
                                          "key": "Key"
                                          })

In [17]:
artist_data.drop

<bound method DataFrame.drop of                                                  Artists  Acousticness  \
0                       "Cats" 1981 Original London Cast      0.575083
1                              "Cats" 1983 Broadway Cast      0.862538
2            "Fiddler On The Roof” Motion Picture Chorus      0.856571
3         "Fiddler On The Roof” Motion Picture Orchestra      0.884926
4      "Joseph And The Amazing Technicolor Dreamcoat"...      0.605444
...                                                  ...           ...
27616                                                鳳飛飛      0.884000
27617                                                黃品源      0.541000
27618                                                黃國隆      0.785455
27619                                                黃蜀娟      0.925143
27620                                                 黑豹      0.381000

       Danceability    Energy  Instrumentalness  Liveness   Loudness  \
0          0.442750  0.386336          0.022717  0.287708 -14.205417
1          0.441731  0.406808          0.081158  0.315215 -10.690000
2          0.348286  0.286571          0.024593  0.325786 -15.230714
3          0.425074  0.245770          0.073587  0.275481 -15.639370
4          0.437333  0.429333          0.037534  0.216111 -11.447222
...             ...       ...               ...       ...        ...
27616      0.358000  0.208000          0.000002  0.150000  -9.524000
27617      0.578000  0.334000          0.000006  0.067500 -11.974000
27618      0.570818  0.148400          0.000083  0.142191 -21.610091
27619      0.322262  0.141490          0.000189  0.196757 -19.256714
27620      0.353000  0.686000          0.000000  0.056800  -9.103000

       Speechiness       Tempo   Valence  Popularity  Key
0         0.180675  115.983500  0.334433   38.000000    5
1         0.176212  103.044154  0.268865   33.076923    5
2         0.118514   77.375857  0.354857   34.285714    0
3         0.123200   88.667630  0.372030   34.444444    0
4         0.086000  120.329667  0.458667   42.555556   11
...            ...         ...       ...         ...  ...
27616     0.033900  131.261000  0.278000   35.000000   10
27617     0.026700  135.934000  0.243000   47.000000    9
27618     0.054355  119.586273  0.741273   20.000000    5
27619     0.055571  111.685381  0.267033   23.000000   10
27620     0.039500  200.341000  0.352000   34.000000   11

[27621 rows x 12 columns]>

In [18]:
artist_data = artist_data.round({'Acousticness':2,'Danceability':2,'Energy':2,'Instrumentalness':2,
                                 'Liveness':2,'Loudness':2,'Speechiness': 2, 'Tempo': 2})

In [19]:
Groovy_artists = artist_data.sort_values("Danceability", ascending=False)

In [20]:
spotify_table = "Groovy_Artists"
Groovy_artists.to_sql(spotify_table, sqlite_connection, index=False, if_exists='replace')
Groovy_artists.to_sql()

2020-09-02 21:26:41,823 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("Groovy_Artists")
2020-09-02 21:26:41,825 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:26:41,829 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("Groovy_Artists")
2020-09-02 21:26:41,831 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:26:41,834 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2020-09-02 21:26:41,836 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:26:41,838 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("Groovy_Artists")
2020-09-02 21:26:41,841 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:26:41,845 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Groovy_Artists' AND type = 'table'
2020-09-02 21:26:41,855 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:26:41,860 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("Groovy_Artists")
2020-09-02 21:26:41,863 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:26:41,866 INFO sqlalchemy.engine.base.Engine PRAGMA temp.foreign_key_list("Groovy_Artists")
2020-09-02 21:26:41,868 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:26:41,871 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Groovy_Artists' AND type = 'table'
2020-09-02 21:26:41,873 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:26:41,880 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("Groovy_Artists")
2020-09-02 21:26:41,883 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:26:41,888 INFO sqlalchemy.engine.base.Engine PRAGMA temp.index_list("Groovy_Artists")
2020-09-02 21:26:41,891 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:26:41,894 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("Groovy_Artists")
2020-09-02 21:26:41,898 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:26:41,900 INFO sqlalchemy.engine.base.Engine PRAGMA temp.index_list("Groovy_Artists")
2020-09-02 21:26:41,903 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:26:41,905 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Groovy_Artists' AND type = 'table'
2020-09-02 21:26:41,907 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:26:41,915 INFO sqlalchemy.engine.base.Engine
DROP TABLE "Groovy_Artists"
2020-09-02 21:26:41,921 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:26:41,991 INFO sqlalchemy.engine.base.Engine COMMIT
2020-09-02 21:26:42,003 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Groovy_Artists" (
	"Artists" TEXT,
	"Acousticness" FLOAT,
	"Danceability" FLOAT,
	"Energy" FLOAT,
	"Instrumentalness" FLOAT,
	"Liveness" FLOAT,
	"Loudness" FLOAT,
	"Speechiness" FLOAT,
	"Tempo" FLOAT,
	"Valence" FLOAT,
	"Popularity" FLOAT,
	"Key" BIGINT
)


2020-09-02 21:26:42,014 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:26:42,032 INFO sqlalchemy.engine.base.Engine COMMIT
2020-09-02 21:26:42,118 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-09-02 21:26:44,111 INFO sqlalchemy.engine.base.Engine INSERT INTO "Groovy_Artists" ("Artists", "Acousticness", "Danceability", "Energy", "Instrumentalness", "Liveness", "Loudness", "Speechiness", "Tempo", "Valence", "Popularity", "Key") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2020-09-02 21:26:44,114 INFO sqlalchemy.engine.base.Engine (('Young Bo', 0.14, 0.99, 0.6, 0.0, 0.2, -6.81, 0.31, 115.0, 0.7609999999999999, 55.0, 8), ('Young Boss', 0.14, 0.99, 0.6, 0.0, 0.2, -6.81, 0.31, 115.0, 0.7609999999999999, 44.0, 8), ('Dr. Jean Feldman', 0.07, 0.98, 0.65, 0.0, 0.07, -14.03, 0.07, 116.02, 0.642, 34.0, 9), ('Ambjaay', 0.0, 0.98, 0.48, 0.0, 0.13, -8.16, 0.16, 110.0, 0.196, 70.0, 8), ('Punkin Machine', 0.01, 0.98, 0.57, 0.28, 0.07, -10.6, 0.05, 126.91, 0.968, 40.0, 6), ('Muck Sticky', 0.18, 0.97, 0.28, 0.0, 0.1, -12.24, 0.16, 115.06, 0.672, 40.0, 4), ('Street Money Boochie', 0.04, 0.97, 0.49, 0.0, 0.12, -9.86, 0.23, 126.05, 0.768, 60.0, 2), ('A2M', 0.46, 0.97, 0.78, 0.0, 0.27, -8.08, 0.32, 119.95, 0.8029999999999999, 66.0, 7)  ... displaying 10 of 27621 total bound parameter sets ...  ('Natural Woodland Sounds', 0.0, 0.0, 0.0, 0.99, 0.77, -17.69, 0.0, 0.0, 0.0, 67.0, 0), ('HI-FI CAMP', 0.91, 0.0, 0.62, 0.39, 0.11, -54.38, 0.0, 0.0, 0.0, 69.0, 1))
2020-09-02 21:26:44,450 INFO sqlalchemy.engine.base.Engine COMMIT
2020-09-02 21:26:44,530 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2020-09-02 21:26:44,533 INFO sqlalchemy.engine.base.Engine ()

TypeError: to_sql() missing 2 required positional arguments: 'name' and 'con'

In [21]:
Popular_artists = artist_data.sort_values("Popularity", ascending=False)

In [22]:
spotify_table = "Popular_Artists"
Popular_artists.to_sql(spotify_table, sqlite_connection, index=False, if_exists='replace')

2020-09-02 21:27:46,529 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("Popular_Artists")
2020-09-02 21:27:46,530 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:27:46,533 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("Popular_Artists")
2020-09-02 21:27:46,534 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:27:46,537 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2020-09-02 21:27:46,538 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:27:46,540 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("Popular_Artists")
2020-09-02 21:27:46,541 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:27:46,546 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Popular_Artists' AND type = 'table'
2020-09-02 21:27:46,547 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:27:46,550 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("Popular_Artists")
2020-09-02 21:27:46,552 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:27:46,553 INFO sqlalchemy.engine.base.Engine PRAGMA temp.foreign_key_list("Popular_Artists")
2020-09-02 21:27:46,554 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:27:46,556 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Popular_Artists' AND type = 'table'
2020-09-02 21:27:46,557 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:27:46,560 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("Popular_Artists")
2020-09-02 21:27:46,561 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:27:46,562 INFO sqlalchemy.engine.base.Engine PRAGMA temp.index_list("Popular_Artists")
2020-09-02 21:27:46,573 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:27:46,575 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("Popular_Artists")
2020-09-02 21:27:46,606 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:27:46,608 INFO sqlalchemy.engine.base.Engine PRAGMA temp.index_list("Popular_Artists")
2020-09-02 21:27:46,610 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:27:46,612 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Popular_Artists' AND type = 'table'
2020-09-02 21:27:46,613 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:27:46,616 INFO sqlalchemy.engine.base.Engine
DROP TABLE "Popular_Artists"
2020-09-02 21:27:46,630 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:27:46,661 INFO sqlalchemy.engine.base.Engine COMMIT
2020-09-02 21:27:46,666 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Popular_Artists" (
	"Artists" TEXT,
	"Acousticness" FLOAT,
	"Danceability" FLOAT,
	"Energy" FLOAT,
	"Instrumentalness" FLOAT,
	"Liveness" FLOAT,
	"Loudness" FLOAT,
	"Speechiness" FLOAT,
	"Tempo" FLOAT,
	"Valence" FLOAT,
	"Popularity" FLOAT,
	"Key" BIGINT
)


2020-09-02 21:27:46,669 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:27:46,678 INFO sqlalchemy.engine.base.Engine COMMIT
2020-09-02 21:27:46,731 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-09-02 21:27:48,281 INFO sqlalchemy.engine.base.Engine INSERT INTO "Popular_Artists" ("Artists", "Acousticness", "Danceability", "Energy", "Instrumentalness", "Liveness", "Loudness", "Speechiness", "Tempo", "Valence", "Popularity", "Key") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2020-09-02 21:27:48,284 INFO sqlalchemy.engine.base.Engine (('Emilee', 0.07, 0.67, 0.77, 0.0, 0.39, -7.57, 0.09, 112.05, 0.33, 95.0, 11), ('StaySolidRocky', 0.75, 0.73, 0.43, 0.0, 0.1, -9.97, 0.06, 130.02, 0.629, 94.0, 6), ('A7S', 0.22, 0.79, 0.72, 0.0, 0.13, -5.65, 0.22, 122.03, 0.664, 92.0, 8), ('Topic', 0.22, 0.79, 0.72, 0.0, 0.13, -5.65, 0.22, 122.03, 0.664, 92.0, 8), ('Regard', 0.18, 0.88, 0.75, 0.0, 0.11, -4.26, 0.09, 117.95, 0.884, 90.0, 7), ('J. Rey Soul', 0.19, 0.89, 0.64, 0.0, 0.08, -6.93, 0.05, 105.01, 0.428, 90.0, 2), ('Juanka', 0.3, 0.82, 0.72, 0.0, 0.09, -4.65, 0.21, 176.01, 0.7859999999999999, 87.0, 4), ('Brray', 0.3, 0.82, 0.72, 0.0, 0.09, -4.65, 0.21, 176.01, 0.7859999999999999, 87.0, 4)  ... displaying 10 of 27621 total bound parameter sets ...  ('Ioannis Tzavanis', 0.97, 0.43, 0.69, 0.01, 0.46, -9.5, 0.07, 138.5, 0.611, 0.0, 8), ('George Britton', 0.83, 0.76, 0.09, 0.0, 0.12, -14.92, 0.06, 90.68, 0.807, 0.0, 0))
2020-09-02 21:27:48,898 INFO sqlalchemy.engine.base.Engine COMMIT
2020-09-02 21:27:48,941 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2020-09-02 21:27:48,943 INFO sqlalchemy.engine.base.Engine ()

In [23]:
year_data

,year,acousticness,danceability,duration_ms,energy,instrumentalness,liveness,loudness,speechiness,tempo,valence,popularity,key,mode
0,1921,0.895823,0.425661,229911.914062,0.236784,0.322330,0.215814,-17.095437,0.077258,100.397758,0.425495,0.351562,7,1
1,1922,0.939236,0.480000,167904.541667,0.237026,0.440470,0.238647,-19.179958,0.115419,101.376139,0.534056,0.138889,10,1
2,1923,0.976329,0.568462,178356.301775,0.246936,0.401932,0.236656,-14.373882,0.098619,112.456598,0.624788,5.727811,0,1
3,1924,0.935575,0.548654,188461.649789,0.347033,0.583955,0.237875,-14.202304,0.090210,120.653359,0.668574,0.603376,10,1
4,1925,0.965422,0.571890,184130.699620,0.264373,0.408893,0.243094,-14.516707,0.115457,115.671715,0.616430,2.707224,5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2016,0.280290,0.599976,219400.763840,0.592877,0.074646,0.180198,-7.949913,0.107298,119.070344,0.430769,61.371254,0,1
96,2017,0.289916,0.612286,209343.613000,0.586739,0.098209,0.194218,-8.422697,0.111752,116.840277,0.414465,64.861500,1,1
97,2018,0.271941,0.664930,200919.119000,0.590591,0.035948,0.171781,-7.253666,0.128140,122.004325,0.447141,67.276000,1,1
98,2019,0.289298,0.644215,197733.133000,0.578796,0.076518,0.167161,-8.041738,0.124799,118.868163,0.465856,69.655500,1,1
99,2020,0.247374,0.673077,197114.662301,0.611914,0.039052,0.177048,-7.204024,0.143505,121.228704,0.482755,63.111048,1,1

In [24]:
year_data = year_data[['year', 'acousticness', 'danceability', 'energy',
       'instrumentalness', 'liveness', 'loudness', 'speechiness', 'tempo',
       'valence', 'popularity', 'key']]

In [25]:
year_data = year_data.rename(columns={'year': 'Year', 'acousticness': 'Acousticness', "danceability": "Danceability",
                                              "energy": "Energy",
                                              "instrumentalness": "Instrumentalness",
                                              "liveness": "Liveness",
                                              "loudness": "Loudness", 
                                              "speechiness": "Speechiness", 
                                              "tempo": "Tempo",
                                          "valence": "Valence",
                                          "popularity": "Popularity",
                                          "key": "Key"})

In [26]:
year_data

,Year,Acousticness,Danceability,Energy,Instrumentalness,Liveness,Loudness,Speechiness,Tempo,Valence,Popularity,Key
0,1921,0.895823,0.425661,0.236784,0.322330,0.215814,-17.095437,0.077258,100.397758,0.425495,0.351562,7
1,1922,0.939236,0.480000,0.237026,0.440470,0.238647,-19.179958,0.115419,101.376139,0.534056,0.138889,10
2,1923,0.976329,0.568462,0.246936,0.401932,0.236656,-14.373882,0.098619,112.456598,0.624788,5.727811,0
3,1924,0.935575,0.548654,0.347033,0.583955,0.237875,-14.202304,0.090210,120.653359,0.668574,0.603376,10
4,1925,0.965422,0.571890,0.264373,0.408893,0.243094,-14.516707,0.115457,115.671715,0.616430,2.707224,5
...,...,...,...,...,...,...,...,...,...,...,...,...
95,2016,0.280290,0.599976,0.592877,0.074646,0.180198,-7.949913,0.107298,119.070344,0.430769,61.371254,0
96,2017,0.289916,0.612286,0.586739,0.098209,0.194218,-8.422697,0.111752,116.840277,0.414465,64.861500,1
97,2018,0.271941,0.664930,0.590591,0.035948,0.171781,-7.253666,0.128140,122.004325,0.447141,67.276000,1
98,2019,0.289298,0.644215,0.578796,0.076518,0.167161,-8.041738,0.124799,118.868163,0.465856,69.655500,1
99,2020,0.247374,0.673077,0.611914,0.039052,0.177048,-7.204024,0.143505,121.228704,0.482755,63.111048,1

In [27]:
Groovy_years = year_data.sort_values("Danceability", ascending=False)

In [28]:
Groovy_years

,Year,Acousticness,Danceability,Energy,Instrumentalness,Liveness,Loudness,Speechiness,Tempo,Valence,Popularity,Key
99,2020,0.247374,0.673077,0.611914,0.039052,0.177048,-7.204024,0.143505,121.228704,0.482755,63.111048,1
97,2018,0.271941,0.664930,0.590591,0.035948,0.171781,-7.253666,0.128140,122.004325,0.447141,67.276000,1
6,1927,0.934606,0.649960,0.256159,0.402276,0.167779,-14.726812,0.116197,114.611465,0.660659,0.832215,7
8,1929,0.591111,0.647005,0.240513,0.219461,0.235988,-16.607089,0.485278,111.353988,0.638208,0.327922,7
98,2019,0.289298,0.644215,0.578796,0.076518,0.167161,-8.041738,0.124799,118.868163,0.465856,69.655500,1
...,...,...,...,...,...,...,...,...,...,...,...,...
28,1949,0.907895,0.441623,0.244627,0.293479,0.210266,-15.610530,0.103308,108.876602,0.428594,3.307000,0
27,1948,0.934265,0.439915,0.247542,0.392072,0.221532,-15.512074,0.086625,107.375217,0.443625,1.582441,0
32,1953,0.891139,0.436234,0.265310,0.290270,0.225679,-15.551768,0.096054,109.014178,0.423354,3.177436,0
0,1921,0.895823,0.425661,0.236784,0.322330,0.215814,-17.095437,0.077258,100.397758,0.425495,0.351562,7
25,1946,0.924217,0.403515,0.204252,0.495375,0.207839,-17.713484,0.088025,102.590531,0.373623,1.645376,7

In [29]:
spotify_table = "Groovy_Years"
Groovy_years.to_sql(spotify_table, sqlite_connection, index=False, if_exists='replace')

2020-09-02 21:27:50,592 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("Groovy_Years")
2020-09-02 21:27:50,596 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:27:50,598 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("Groovy_Years")
2020-09-02 21:27:50,601 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:27:50,604 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2020-09-02 21:27:50,606 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:27:50,608 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("Groovy_Years")
2020-09-02 21:27:50,610 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:27:50,614 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Groovy_Years' AND type = 'table'
2020-09-02 21:27:50,616 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:27:50,620 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("Groovy_Years")
2020-09-02 21:27:50,622 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:27:50,624 INFO sqlalchemy.engine.base.Engine PRAGMA temp.foreign_key_list("Groovy_Years")
2020-09-02 21:27:50,625 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:27:50,627 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Groovy_Years' AND type = 'table'
2020-09-02 21:27:50,628 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:27:50,630 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("Groovy_Years")
2020-09-02 21:27:50,632 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:27:50,635 INFO sqlalchemy.engine.base.Engine PRAGMA temp.index_list("Groovy_Years")
2020-09-02 21:27:50,636 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:27:50,639 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("Groovy_Years")
2020-09-02 21:27:50,641 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:27:50,643 INFO sqlalchemy.engine.base.Engine PRAGMA temp.index_list("Groovy_Years")
2020-09-02 21:27:50,661 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:27:50,663 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Groovy_Years' AND type = 'table'
2020-09-02 21:27:50,665 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:27:50,669 INFO sqlalchemy.engine.base.Engine
DROP TABLE "Groovy_Years"
2020-09-02 21:27:50,671 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:27:50,696 INFO sqlalchemy.engine.base.Engine COMMIT
2020-09-02 21:27:50,701 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Groovy_Years" (
	"Year" BIGINT,
	"Acousticness" FLOAT,
	"Danceability" FLOAT,
	"Energy" FLOAT,
	"Instrumentalness" FLOAT,
	"Liveness" FLOAT,
	"Loudness" FLOAT,
	"Speechiness" FLOAT,
	"Tempo" FLOAT,
	"Valence" FLOAT,
	"Popularity" FLOAT,
	"Key" BIGINT
)


2020-09-02 21:27:50,706 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:27:50,715 INFO sqlalchemy.engine.base.Engine COMMIT
2020-09-02 21:27:50,718 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-09-02 21:27:50,726 INFO sqlalchemy.engine.base.Engine INSERT INTO "Groovy_Years" ("Year", "Acousticness", "Danceability", "Energy", "Instrumentalness", "Liveness", "Loudness", "Speechiness", "Tempo", "Valence", "Popularity", "Key") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2020-09-02 21:27:50,728 INFO sqlalchemy.engine.base.Engine ((2020, 0.247374037425967, 0.673077448747152, 0.611914191343964, 0.039052253006833695, 0.177048177676538, -7.204023917995441, 0.143504840546697, 121.228703872437, 0.482755148063781, 63.111047835990895, 1), (2018, 0.2719409026, 0.66493, 0.59059117, 0.0359479205600001, 0.17178135, -7.25366599999999, 0.1281401, 122.004325, 0.44714092, 67.27600000000001, 1), (1927, 0.934606322919466, 0.649959731543624, 0.256158724832215, 0.40227578375838896, 0.167778523489933, -14.726812080536899, 0.116197483221477, 114.6114647651, 0.660659060402685, 0.832214765100671, 7), (1929, 0.59111050865801, 0.647005086580086, 0.24051341991342, 0.219461260357143, 0.235988311688311, -16.6070887445887, 0.485278354978355, 111.353988095238, 0.638207683982685, 0.327922077922078, 7), (2019, 0.2892975455, 0.64421535, 0.578796113250001, 0.0765175895049999, 0.1671606, -8.04173800000001, 0.1247987, 118.868163, 0.465855620000001, 69.6555, 1), (2017, 0.28991629086, 0.6122864, 0.586738586899999, 0.09820921283, 0.19421845, -8.4226975, 0.11175245, 116.8402775, 0.414465275, 64.8615, 1), (1933, 0.905010860450161, 0.603766398713826, 0.287360610932476, 0.130555862041801, 0.210155466237942, -12.768765273311901, 0.0961705787781351, 115.053681672026, 0.635153376205788, 7.06913183279743, 5), (2016, 0.280289703824277, 0.599976383951243, 0.592877156170644, 0.074646383539868, 0.180197968511935, -7.9499126460132095, 0.107298222447943, 119.070343829355, 0.430769029964449, 61.3712544438801, 0)  ... displaying 10 of 100 total bound parameter sets ...  (1921, 0.8958234375, 0.4256609375, 0.23678359375, 0.322330110234375, 0.2158140625, -17.0954375, 0.0772578125, 100.3977578125, 0.42549453125, 0.3515625, 7), (1946, 0.924216926147703, 0.403514504324684, 0.204252135728543, 0.495375179707253, 0.207839321357286, -17.713484364604103, 0.0880250166333999, 102.590530938124, 0.373622821024618, 1.64537591483699, 7))
2020-09-02 21:27:50,733 INFO sqlalchemy.engine.base.Engine COMMIT
2020-09-02 21:27:50,781 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2020-09-02 21:27:50,783 INFO sqlalchemy.engine.base.Engine ()

In [30]:
decade_year = year_data.groupby((year_data['Year']//10)*10).mean()

In [31]:
decade_year = decade_year[['Acousticness', 'Danceability', 'Energy', 'Instrumentalness',
       'Liveness', 'Loudness', 'Speechiness', 'Tempo', 'Valence', 'Popularity']]

In [32]:
decade_year = decade_year.round({'Acousticness':2,'Danceability':2,'Energy':2,'Instrumentalness':2,
                                 'Liveness':2,'Loudness':2,'Speechiness': 2, 'Tempo': 2, 'Valence': 2, 'Popularity': 2})

In [33]:
decade_year

,Acousticness,Danceability,Energy,Instrumentalness,Liveness,Loudness,Speechiness,Tempo,Valence,Popularity
Year,,,,,,,,,,
1920,0.88,0.55,0.25,0.42,0.22,-16.05,0.17,110.13,0.57,1.54
1930,0.88,0.54,0.29,0.28,0.23,-14.03,0.15,112.69,0.58,2.69
1940,0.88,0.47,0.25,0.38,0.22,-15.32,0.14,107.17,0.49,1.63
1950,0.84,0.48,0.29,0.24,0.21,-14.79,0.10,110.60,0.48,9.93
1960,0.62,0.50,0.42,0.15,0.21,-12.74,0.06,115.47,0.56,25.63
1970,0.39,0.53,0.54,0.11,0.22,-11.39,0.06,120.13,0.59,35.05
1980,0.29,0.55,0.60,0.12,0.21,-11.13,0.06,121.49,0.57,37.00
1990,0.29,0.57,0.59,0.10,0.20,-9.85,0.08,119.33,0.55,43.63
2000,0.26,0.58,0.66,0.08,0.20,-7.37,0.09,121.36,0.53,49.41
2010,0.26,0.60,0.63,0.07,0.19,-7.38,0.10,120.78,0.46,59.57
2020,0.25,0.67,0.61,0.04,0.18,-7.20,0.14,121.23,0.48,63.11

In [34]:
spotify_table = "Decades"
decade_year.to_sql(spotify_table, sqlite_connection, if_exists='replace')

2020-09-02 21:27:53,895 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("Decades")
2020-09-02 21:27:53,897 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:27:53,899 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("Decades")
2020-09-02 21:27:53,901 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:27:53,904 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2020-09-02 21:27:53,906 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:27:53,908 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("Decades")
2020-09-02 21:27:53,911 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:27:53,915 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Decades' AND type = 'table'
2020-09-02 21:27:53,917 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:27:53,920 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("Decades")
2020-09-02 21:27:53,922 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:27:53,925 INFO sqlalchemy.engine.base.Engine PRAGMA temp.foreign_key_list("Decades")
2020-09-02 21:27:53,927 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:27:53,929 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Decades' AND type = 'table'
2020-09-02 21:27:53,930 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:27:53,932 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("Decades")
2020-09-02 21:27:53,934 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:27:53,937 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_info("ix_Decades_Year")
2020-09-02 21:27:53,938 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:27:53,941 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("Decades")
2020-09-02 21:27:53,942 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:27:53,944 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_info("ix_Decades_Year")
2020-09-02 21:27:53,945 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:27:53,950 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Decades' AND type = 'table'
2020-09-02 21:27:53,952 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:27:53,955 INFO sqlalchemy.engine.base.Engine
DROP TABLE "Decades"
2020-09-02 21:27:53,957 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:27:53,989 INFO sqlalchemy.engine.base.Engine COMMIT
2020-09-02 21:27:53,995 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Decades" (
	"Year" BIGINT,
	"Acousticness" FLOAT,
	"Danceability" FLOAT,
	"Energy" FLOAT,
	"Instrumentalness" FLOAT,
	"Liveness" FLOAT,
	"Loudness" FLOAT,
	"Speechiness" FLOAT,
	"Tempo" FLOAT,
	"Valence" FLOAT,
	"Popularity" FLOAT
)


2020-09-02 21:27:53,997 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:27:54,023 INFO sqlalchemy.engine.base.Engine COMMIT
2020-09-02 21:27:54,025 INFO sqlalchemy.engine.base.Engine CREATE INDEX "ix_Decades_Year" ON "Decades" ("Year")
2020-09-02 21:27:54,027 INFO sqlalchemy.engine.base.Engine ()
2020-09-02 21:27:54,058 INFO sqlalchemy.engine.base.Engine COMMIT
2020-09-02 21:27:54,062 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-09-02 21:27:54,065 INFO sqlalchemy.engine.base.Engine INSERT INTO "Decades" ("Year", "Acousticness", "Danceability", "Energy", "Instrumentalness", "Liveness", "Loudness", "Speechiness", "Tempo", "Valence", "Popularity") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2020-09-02 21:27:54,068 INFO sqlalchemy.engine.base.Engine ((1920, 0.88, 0.55, 0.25, 0.42, 0.22, -16.05, 0.17, 110.13, 0.57, 1.54), (1930, 0.88, 0.54, 0.29, 0.28, 0.23, -14.03, 0.15, 112.69, 0.58, 2.69), (1940, 0.88, 0.47, 0.25, 0.38, 0.22, -15.32, 0.14, 107.17, 0.49, 1.63), (1950, 0.84, 0.48, 0.29, 0.24, 0.21, -14.79, 0.1, 110.6, 0.48, 9.93), (1960, 0.62, 0.5, 0.42, 0.15, 0.21, -12.74, 0.06, 115.47, 0.56, 25.63), (1970, 0.39, 0.53, 0.54, 0.11, 0.22, -11.39, 0.06, 120.13, 0.59, 35.05), (1980, 0.29, 0.55, 0.6, 0.12, 0.21, -11.13, 0.06, 121.49, 0.57, 37.0), (1990, 0.29, 0.57, 0.59, 0.1, 0.2, -9.85, 0.08, 119.33, 0.55, 43.63)  ... displaying 10 of 11 total bound parameter sets ...  (2010, 0.26, 0.6, 0.63, 0.07, 0.19, -7.38, 0.1, 120.78, 0.46, 59.57), (2020, 0.25, 0.67, 0.61, 0.04, 0.18, -7.2, 0.14, 121.23, 0.48, 63.11))
2020-09-02 21:27:54,071 INFO sqlalchemy.engine.base.Engine COMMIT
2020-09-02 21:27:54,092 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2020-09-02 21:27:54,093 INFO sqlalchemy.engine.base.Engine ()